doctype html
html
  head
    title The Library App
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
  #header
    ul.nav
      li
        a(href="index.pug")
          img.logo(src="images/logo.jpg")        
      li
        a(href="index.pug") Home
      li
        a(href="search.pug") Search Books
      li
        a(href="addEntry.pug") Add Books 
      li
        a(href="#") Logout
  // header